
.bio{background-color:  black;
        font-family: arial;
        font-size: 128%;
        border: 3px solid silver;
        border-radius: 12%;
        margin-right: 30px;
        margin-top: 20px;
        width: 40%;
        display: inline-block;
}
.bioright{float: right;
          clear:left;
}
.bioleft{float: left;
          clear: right;
}

.inline{display: flex;
        justify-content: center;

}

.memberdesc{text-align: center;
            color:gray;
}

.main{
  background-color:black;
  font-size: 40px;
}

.head{
  color: white;
  text-align: center;
}

.navigation{
  background-color: #519;
  margin: auto;
  text-align: center;
}
.navistyle{
  font-family: trebuchet;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header {text-align: center;
   color:rgb(122, 52, 169);
 }

.heading{}

.floatLeft {float: left; margin-left: 1px;
}
.floatRight {float: right;
}

.alignL {text-align: left;
}
.alignC {text-align: center;
}
.alignR {text-align: right;
}

.teamdesc {color: silver; text-align: left;
}
.events {color:orange; text-align: left; clear: left
}

.legoImg {
    width: 150px;
    height: 250px;
    border-radius: 4%;
}

.logo {display: block; margin: auto;}
.legoImgL{float: left;}
.legoImgR{float: right;}

.foot {
  color: gray;
  font-weight: bold;
}

table, th, td {
    align:center;
    color: yellow;
    border: 1px solid white;
}

nav>a:hover{
  border-color: yellow;
  color: black;
}
