
.bio{background-color:  black;
        font-family: arial;
        font-size: 128%;
        color: springgreen;
        border: 3px dotted #519;
        border-radius: 12%;
        margin-right: 30px;
        margin-top: 20px;
        width: 40%;
        display: inline-block;
}
.bioright{float: right;
          clear:left;
}
.bioleft{float: left;
          clear: right;
}

.inline{display: flex;
        justify-content: center;

}

.memberdesc{text-align: center;
            color:#519
}

.main{
  background-color:black;
}

.head{
  color: white;
  text-align: center;
}

.navigation{
  background-color: #519;
  margin: auto;
  text-align: center;
}
.navistyle{
  font-family: trebuchet;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header {text-align: center;
   color:rgb(122, 52, 169);
 }
.headerguys {
}
.floatLeft {float: left; margin-left: 1px;
}
.floatRight {float: right;
}

.align {text-align: left;
}

.teamdesc {color: silver; text-align: left;
}
.events {color:orange; text-align: left; clear: left
}

.logo {display: block; margin: auto;}
.legoflyL{text-align: left;}
.legoflyR{text-align: right;}
nav>a:hover{
  border-color: yellow;
  color: black;
}
